.kuchaur {
  background-color: red;
}

.kuchaur {
  background-color: yellow;
}

.drop-down {
  background-image: url("../src/App/images/drop.png");
  display: none;
  height: 30px;
  background-color: red;
}

@media only screen and (max-width:768px) {
  .drop-down {
    background-image: url("../src/App/images/drop.png");
    height: 30px;
    display: block;
    background-color: red;
    background-repeat: no-repeat;
  }
}


